:root {
  --preto: #000000;
  --azul: #1d90f5;
  --branco: #eef8ff;
  --sombra: #0c2fb844;
  --cinza: #555b69;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 100%;
  background-color: var(--preto);
  font: 400 15px Lato, sans-serif;
}

/* HEADER */

header {
  background-color: var(--preto);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 20px var(--preto);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header h1 {
  color: var(--azul);
  font-size: 2.5rem;
}

header span {
  color: var(--branco);
}

header .navegacao-primaria {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .navegacao-primaria li a {
  font-size: 1.3rem;
  color: var(--branco);
  width: 0px;
  height: 0px;
}

header .navegacao-primaria li a::after {
  content: '';
  width: 0px;
  display: block;
  height: 0px;
  border-bottom: 4px solid transparent;
  transition: 0.9s;
}

header .navegacao-primaria li a:hover::after {
  width: 100%;
  height: 0px;
  padding: 0px;
  border-bottom: 4px solid var(--azul);
}

/* DOWNLOAD CV */

.section-cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  background-color: var(--preto);
  padding: 60px;
}

.section-cv div {
  animation: inicializar 0.7s forwards;
  margin-top: 120px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.section-cv div h2 {
  font-weight: 600;
  color: var(--branco);
}

.digitando::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.5s infinite;
}

.section-cv div p {
  font-weight: 200;
  color: var(--branco);
}

.section-cv div a {
  justify-self: start;
  color: var(--azul);
  padding: 15px 40px;
  border-radius: 20px;
  background: var(--branco);
}

.section-cv div a:hover {
  background: var(--azul);
  color: var(--branco);
}

.botao a {
  color: var(--azul);
  padding: 10px 20px;
  border-radius: 20px;
  background: var(--branco);
}

.botao a:hover {
  background: var(--azul);
  color: var(--branco);
}

.section-cv img {
  max-width: 100%;
}

@keyframes pisca {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* MAIN */

main {
  background-color: var(--cinza);
}

main .sobre {
  gap: 30px;
  padding: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.titulo {
  margin: 30px 0;
  grid-column: 1/-1;
  color: var(--branco);
  text-align: center;
}

.titulo h1 {
  font-size: 2.5rem;
  color: var(--azul);
  margin-bottom: 15px;
}

.titulo p {
  color: var(--branco);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.titulo div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* SOBRE */

.sobre img {
  grid-row: 2;
  max-width: 100%;
  border-radius: 4px;
  filter: blur(0);
}

.sobre_conteudo {
  animation: sobeSecao 0.6s ease-in forwards;
  grid-column: 2/-1;
  color: var(--branco);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sobre_texto {
  display: grid;
  grid-column: 1/-1;
  grid-column: 1fr 1fr;
}

.sobre_texto h1 {
  font-size: 2.3rem;
  grid-column: 1/-1;
  color: var(--branco);
}

.sobre_texto h1::after {
  content: '';
  margin: 20px 0;
  width: 60px;
  border-radius: 5px;
  height: 6px;
  background-color: var(--azul);
  display: block;
}

.sobre_texto p {
  font-size: 1.3rem;
  grid-row: 2;
  grid-column: 1/-1;
}

.sobre_info {
  margin-top: 30px;
  display: grid;
  align-items: center;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-row: 3;
  grid-column: 1/-1;
}

.sobre_info i {
  color: var(--azul);
  display: inline-block;
  padding-right: 15px;
  font-size: 1.5rem;
}

.sobre_info p {
  font-size: 1rem;
}

@keyframes sobeSecao {
  from {
    transform: translate3d(60px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ladoSecao {
  from {
    transform: translate3d(-60px, 0, 0);
    transition: 0.5s;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* SKILLS */
.container {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: var(--preto);
  margin: 20px;
  border: 1px solid var(--branco);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.container .card h1 {
  font-size: 2rem;
  color: var(--branco);
}

/* PORTFOLIO */

.projeto {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.projeto .cartao {
  position: relative;
  padding: 10px;
  max-width: 300px;
  height: 500px;
  border-radius: 6px;
  background-color: var(--cinza);
  margin: 20px;
  gap: 30px;
  border: 1px solid var(--azul);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.projeto .cartao img {
  transition: 0.5s;
  width: 100%;
}

.projeto .cartao h1 {
  color: var(--azul);
  font-size: 1.6rem;
  font-weight: 500;
  font-size: 2rem;
}

.projeto .cartao .descricao {
  padding: 20px;
  text-align: center;
}

.projeto .cartao p {
  color: var(--branco);
  font-size: 1.2rem;
  transition: 0.5s;
}

.projeto .cartao .descricao a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--branco);
  color: var(--preto);
  border-radius: 40px;
  text-decoration: none;
  transition: 0.3s;
  outline: none;
  margin-top: 20px;
}

.projeto .cartao:hover {
  background-color: var(--azul);
  color: var(--branco);
  box-shadow: 10px 30px 30px var(--sombra);
}

.projeto .cartao:hover h1 {
  color: white;
}

.projeto .descricao a:hover {
  color: var(--branco);
  background-color: var(--preto);
}

/*CONTATO*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1.2rem;
  color: var(--branco);
  background: var(--cinza);
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: var(--azul);
  background-color: #636772;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--branco);
}

label {
  margin-bottom: 0.5rem;
  color: var(--branco);
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 99px;
  color: var(--branco);
  background: var(--azul);
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  outline: none;
  background: #137bd6;
}

button:disabled {
  cursor: not-allowed;
  background: var(--cinza);
}

.success,
.error {
  text-align: center;
}

.success {
  color: var(--cinza);
}

.error {
  color: red;
}

footer {
  background: var(--preto);
}

footer {
  text-align: center;
  color: #fff;
  background: #0062d3;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}
